# Created by https://www.toptal.com/developers/gitignore/api/go
# Edit at https://www.toptal.com/developers/gitignore?templates=go

### Environment ###

# Editor files
.idea
.vscode

# OS files
.DS_Store
.desktop

# SQLite Databases
*.db
*.sqlite
*.sqlite3

### Go ###

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# SSL Certificates
certs/
*.key
*.crt

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Go Patch ###

/vendor/
/Godeps/

# End of https://www.toptal.com/developers/gitignore/api/go
