:root {
    --font-family: "Fira Mono", "Source Code Pro", "Inconsolata", "Fira Code",
        "Consolas", "Menlo", "Monaco", monospace;
    --font-size: 17px;
    --line-height: 1.3;

    --color-prompt: #7f7f7f;
    --color-links: #91aadf;
    --color-links-dark: #7a98d8;
    --color-foreground: #dedede;
    --color-background: #121212;
    --color-buttons: #1d1c1c;
}

* {
    font-size: var(--font-size);
    line-height: var(--line-height);
}

body {
    background: var(--color-background);
    font-family: var(--font-family);
    font-size: var(--font-size);
    padding: 5px;
    color: var(--color-foreground);
}

main {
    padding-top: 0 !important;
    margin: 0;
}

main#with-prompt {
    padding: 20px 50px;
}

textarea {
    background: transparent;
    border: none;
    color: var(--color-foreground);
    padding: 0;
    width: 100%;
    height: 88.63vh;
    outline: none;
    resize: none;
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
}

textarea:hover,
textarea:focus {
    outline: none;
    border: none;
}

header {
    padding: 3px 9px;
    margin: 0;
    display: flex;
    user-select: none;
    margin-bottom: 4px;
    gap: 10px;
}

#prompt {
    color: var(--color-prompt);
    z-index: -1000;
    user-select: none;
    position: absolute;
    left: 0;
    width: 30px;
    text-align: right;
}

pre {
    padding: 0;
    margin: 0;
    width: 100%;
    outline: none;
    overflow: inherit;
    display: block;
}

pre code {
    padding: 0;
    background: transparent;
}

button,
a {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    color: var(--color-links);
    font-size: var(--font-size);
    cursor: pointer;
    text-decoration: none;
}

button:hover,
button:focus,
a:hover,
a:focus {
    color: var(--color-links-dark);
}

img {
    max-width: 24px;
    height: auto;
}

h1 {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    margin-bottom: 5px;
    padding: 0;
}

#error {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

#warning {
    color: #f97583;
}

#donate-long,
#donate-short {
    margin: 0 0 0 auto;
}

#donate-link:hover,
#short-donate-link:hover {
    text-decoration: underline;
}

#donate-short {
    display: none;
}

@media screen and (max-width: 600px) {
    #donate-long {
        display: none;
    }

    #donate-short {
        display: block;
    }
}

.chroma {
    background-color: transparent !important;
}
